/* CSS variables gets stored in root*/

:root {
  --blue: #00A0EE;
  --white: #ffffff;
  --black: #000000;
  --grey: #EBEBEB;
}

html{
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
  color: var(--black);
}

body{
  background: var(--white);
  margin: 15px 100px;;
  line-height: 1.4;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.main-nav ul{
  display: grid;
  grid-gap: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: 3fr 0.2fr 0.2fr;
}

.main-nav a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--white);
  padding: 0.8 rem;
  /* text-align: center; */
  /* color: var(--blue); */
  text-transform: uppercase;
  font-size: 1.1 rem;
  color: #000000;
}

.main-nav-two {
  display: grid;
  grid-gap: 1px;
  padding: 0;
  margin: 0;
  grid-template-columns: 0.6fr 0.6fr 1fr 1fr;
  background: pink;
}

.main-nav-two h1{
  padding: 0;
  margin: 50px 10px 50px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

@media (max-width: 700px) {
  .main-nav ul {
    grid-template-columns: 1fr;
    margin: auto;
  }
  .main-nav-two {
    grid-template-columns: 1fr;
  }
  .main-nav-two h1 {
    padding: 0;
    margin: 0px;
  }
  
}
